<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="zebrostudio.wallr100">

    <application
        android:allowBackup="false"
        android:icon="@drawable/wallr_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/wallr_logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/WallrTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".ui.SampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>