<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="zebrostudio.wallr100">

    <application
        android:allowBackup="false"
        android:icon="@drawable/wallr_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/wallr_logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/WallrTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="db1a5e4db429e11109f45d1ce4f56cfa59584149" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/wallr_logo" />
    </application>

</manifest>