<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zebrostudio.wallr100">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.SET_WALLPAPER"/>
  <uses-permission android:name="com.android.vending.BILLING"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

  <application
      android:name=".android.WallrApplication"
      android:allowBackup="false"
      android:icon="@drawable/ic_wallr"
      android:label="@string/app_name"
      android:largeHeap="true"
      android:theme="@style/AppTheme">
    <activity android:name=".android.ui.main.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".android.ui.buypro.BuyProActivity"/>
    <activity android:name=".android.ui.search.SearchActivity"/>
    <activity android:name=".android.ui.detail.images.DetailActivity"/>
    <activity android:name=".android.ui.detail.colors.ColorsDetailActivity"/>
    <activity android:name=".android.ui.expandimage.FullScreenImageActivity"/>
    <activity
        android:name="com.yalantis.ucrop.UCropActivity"
        android:screenOrientation="portrait"/>

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="${applicationId}.provider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/provider_paths"/>
    </provider>

    <service
        android:name="zebrostudio.wallr100.android.service.AutomaticWallpaperChangerService"
        android:enabled="true"
        android:exported="false"
        android:stopWithTask="false"/>

    <receiver
        android:name=".android.broadcastreceiver.BootReceiver"
        android:enabled="true"
        android:exported="true">
      <intent-filter android:priority="1000">
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
        <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
        <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>

        <action android:name="restart_wallpaper_changer_service"/>

        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </receiver>
  </application>

</manifest>